[submodule "vendor/wiringpi"]
	path = vendor/wiringpi
	url = git://git.drogon.net/wiringPi
[submodule "vendor/cpprestsdk"]
	path = vendor/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk.git
[submodule "vendor/mongocxx"]
	path = vendor/mongocxx
	url = https://github.com/mongodb/mongo-cxx-driver.git
