<script src="node_modules/chart.js/dist/chart.js"></script>

<div class="monitor-list">
  <div class="monitor" *ngFor="let monitor of monitors">
    <div class="charts">
      <mat-card class="chart">
        <mat-card-title>{{monitor.title}}</mat-card-title>
        <mat-card-content>
          <div *ngIf="monitor.getType() == 'climate' && monitor.data.timestamps.length > 0">
              <b>Temperature:</b> {{ monitor.data.datasets[0][monitor.data.datasets[0].length - 1] }} &deg;C
              <span style="display: inline-block; width: 0.8em;"></span>
              <b>Humidity:</b> {{ monitor.data.datasets[1][monitor.data.datasets[0].length - 1] }} %
          </div>

          <br>

          <canvas [id]="monitor.id"></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>

  <div class="chart-options">
    <button mat-button color="warn"
            (click)="confirmDataReset()"><mat-icon>delete_forever</mat-icon> Reset data</button>
  </div>
</div>
