.monitor-list {
    padding: 24px 0 0 24px;
}

.monitor-list .monitor {
    display: inline-block;
    max-width: 800px;
    max-width: calc(100% - 60px);
    margin: 0 24px 12px 0;
}

.monitor-list .monitor .charts {
    display: flex;
    flex-direction: column;
}

.monitor-list .chart {
    width: 500px;
    max-width: calc(100% - 24px);
    border-bottom: 1px dotted #ccc;
    margin: 1em 0;
}

.monitor-list .chart-options {
    width: 524px;
    margin-left: -24px; 
    max-width: calc(100% - 24px);
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .monitor-list {
        padding: 12px 0 0 0;
    }

    .monitor-list .monitor {
        margin: 0;
    }
    
    .monitor-list .chart {
        max-width: calc(100% - 16px);
        padding: 8px;
    }
    
    .monitor-list .chart-options {
        margin: 0;
        max-width: 100%;
    }
}