<script src="node_modules/chart.js/dist/chart.js"></script>

<div class="monitor-list">
  <div class="monitor" *ngFor="let monitor of monitors">
    <div class="charts">
      <mat-card class="chart">
        <mat-card-title>{{monitor.title}}</mat-card-title>
        <mat-card-content>
          <div *ngIf="monitor.getType() == 'climate' && monitor.data.timestamps.length > 0">
            Temperature: {{ monitor.data.datasets[0][monitor.data.datasets.length - 1] }} &deg;C
            Humidity: {{ monitor.data.datasets[1][monitor.data.datasets.length - 1] }} %
          </div>

          <canvas [id]="monitor.id"></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>

  <div class="chart-options">
    <button mat-button color="warn"
            (click)="confirmDataReset()"><mat-icon>delete_forever</mat-icon> Reset data</button>
  </div>
</div>