<div id="root" class="full-width full-height">
  <mat-toolbar id="nav" color="primary">
    <div class="content-wrap full-width centered">
      <mat-form-field id="name-editor" [class.active]="editingName" class="name-editor centered">
        <input #nameEditor matInput [(ngModel)]="name" maxlength="256"
               (focus)="editingName = true;"
               (blur)="editingName = false;"
               (keyup.enter)="nameEditor.blur()"> 
      </mat-form-field>
    </div>
  </mat-toolbar>

  <div id="main" class="content-wrap full-height full-width centered">
    <app-monitor></app-monitor>

    <app-version class="full-width"></app-version>
  </div>
</div>